{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

    <main>
         {{>nav}}
            {{#with program.excursion}}
            <div class="text-center text-bg-warning">
            <h1> {{name}}</h1>
            <div>
                <h3>{{location.city}} ({{location.country}}) </h3>
            </div> <br>
            <div> date: {{date}} </div>
            </div>

            <h2 class="text-center m-3">Program:</h2>
            <div class="row">                
             {{#each program}}  
                <div class="card col-6 p-4">
                     <h3>{{name}}</h3>
                <ul>               
                
                <li>type:<b>"{{type}}",</b></li>
                <li>duration: <b> {{duration}},</b></li>
                <li>details:
                    {{#with details}}
                    <br>                                                 
                        {{#with museum}} 
                            <h4>{{name}}</h4>                                                   
                            <ul>{{#with location}}
                                <li>address: {{address}}</li>
                                <li>city: {{city}}</li>
                                <li>country: {{country}} <br>
                                {{/with}} <br>
                                 <b> Exhibits: </b> <br> <br>
                                    <ol>{{#each exhibits}}                                      
                                    <li>name: {{name}}<br>
                                    {{#if artist}} artist: {{artist}}<br>{{/if}}
                                    description: {{description}}<br>
                                    audio_guide:  {{#if audio_guide}} yes 
                                     {{else}} no
                                     {{/if}} </li>
                                    <br>
                                    {{/each}}                                
                                    </ol>
                                </li>
                            </ul>
                        {{/with}}
                        {{#with venue}} 
                            <h4>{{name}}</h4>                                                   
                            <ul>{{#with location}}
                                <li>address: {{address}}</li>
                                <li>city: {{city}}</li>
                                <li>country: {{country}} <br>
                                {{/with}} <br>                                
                                </li>
                            </ul>                            
                        {{/with}}

                        {{#if performers}}
                         <b> Performers:</b> <br> <br>
                                <ol>{{#each performers}}
                                    <li> name: {{name}}<br>
                                        type: {{type}} <br> <br>
                                    </li>
                                    {{/each}}                                
                                </ol>
                        {{/if}}

                        <p>Guide: {{#with guide}} 
                            {{name}}, <br> 
                            language: {{language}}, <br>
                            rating: {{rating}}
                             {{/with}}</p>
                    {{/with}} 
                    </li>                    
                 </ul> 
                  </div> 
             {{/each}} 
             </div> 
            {{/with}}    
    </main>
  
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
