<main>
  {{>nav}}
  <div class="card">    
      <div class="nav">

      {{#each navigation.links}}
        <div class="nav-item">
          {{#if href}}
          <a href="{{href}}" class="nav-link">{{text}}</a>
          {{else}}
          <a href="{{href}}" class="nav-link disabled">{{text}}</a>
          {{/if}}
        </div>
      {{/each}}
      
      </div>    
  </div>

  <div class="m-2">
    {{#with newsBlock}}
      <h1 class="text-center">{{title}}</h1>

      <div class="row g-1">
      {{#each cards}}
      <div class="card col-3">        
        <div class='card-body text-bg-dark'>
          
            <div class="card-header ">
             <h6 >{{title}} </h6>

            {{#if isTop}}
            <span class="badge m-1">
            <span class="rounded-pill text-bg-success px-2 py-1"> Top 
            </span>
            </span>
            {{/if}}

            {{#if isNew}}
            <span class="badge m-1"> 
            <span class="rounded-pill text-bg-danger px-2 py-1" > New 
            </span> 
            </span>
            {{/if}}          
           
            </div>
            <p>{{description}} </p>
          </div>       
        </div>
       {{/each}}
      </div>
    {{/with}}
  </div>
  <br><hr> 

  <div>
    {{#with goodsBlock}}

      <div class="nav">
      {{#each tabs}} 

        {{#if isActive}}        
        <div class="nav-tabs"> 
          <a href="{{href}}" class="nav-link active m-2">{{text}}</a>
        </div>       
        
        {{else}}
          {{#if isDisabled}}
           <div class="nav-tabs">  
            <a href="{{href}}" class="nav-link disabled m-2">{{text}}</a>
           </div>
           
           {{else}}
          <div class="nav-tabs"> 
            <a href="{{href}}" class="nav-link m-2">{{text}}</a>
          </div>
          {{/if}}                
        {{/if}} 
      {{/each}}
      </div>
      
      <div class="row">
          {{#each cards}}
          <div class='card col-4 g-1'>
            <div class='card-body'>
              <img class="card-img-top p-1" src="{{image}}" alt="goods card">

                <div class="card-title">
                  <h6>{{title}}
                         
                  {{#if isHot}}
                  <span class="badge">
                    <span class="rounded-pill text-bg-warning px-2 py-1"> Hot! 
                    </span>
                  </span>
                  {{/if}}

                  {{#if isNew}}
                  <span class="badge"> 
                    <span class="rounded-pill text-bg-primary px-2 py-1">New  
                    </span> 
                  </span>
                  {{/if}} </h6>    
                </div> 
                <p>{{description}} </p>         
             </div>
         </div>
       {{/each}}
      </div>
    {{/with}}
  </div>

  <div>
    <br>
    <div class='card row'>
        <div class='card-body text-bg-dark'>
        {{#with subscribe}}
         <h2>{{header}} </h2>
         <p>{{description}} </p>      
          {{#each buttons}}           
           <a href={{link}} class="list-item" target="_blank">
                <button class="btn btn-primary m-2">{{text}}</button> <br> 
            </a>            
          {{/each}} 
    {{/with}}
    </div>
    </div>
  </div>
<br>
<div>
    <div class='card row'>
        <div class='card-body text-bg-success text-center'>
        {{#with service}}
         <h2>{{title}} </h2>
         <p>{{description}} </p> 
          {{#each buttons}}
        <a href="{{link}}" class="list-item" target="_blank">
        <button class="btn btn-primary m-2">{{text}}</button></a>            
        {{/each}}
        {{/with}}
        </div>
    </div>    
  </div>

  <div class="p-1">
    {{#each footer}}
        <div class="nav">
           {{#each .}}
            <div class="col-2 nav-item">
              {{#if link}}
                <a href="{{link}}" class="nav-link" target="_blank">
                    <button class="btn btn-link">{{text}}</button>
                </a>
                {{else}}
                <a href="{{link}}" class="nav-link disabled"> {{text}}                   
                </a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>

</main>