<main>
    
    <div>  
      <ul class="breadcrumb"> 
        {{#each breadcrumb}}
        <li class="breadcrumb-item"> 
        {{#if @last}}
        {{name}}
          {{else}}
          <a href="{{url}}">{{name}}
       </a>
       {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>

  <div class="row">
    <div class="card col-6">    
        {{#with productData}}
    <div class="card ">      
      <img src="{{img}}" alt="(empty)">
    </div>
    <br>    

    {{#with info}}    
    <div class="card-title px-3"> <b>{{title}} </b></div>
      <div class="card-body"> 
        <p>{{about}} </p> 
        <h4>{{price}}</h4>
        {{#each category}}
                {{#if isHot}}
                  <span class="badge">
                    <span class="rounded-pill text-bg-warning px-2 py-1"> HOT 
                    </span>
                  </span>
                  {{/if}}

                  {{#if isNew}}
                  <span class="badge"> 
                    <span class="rounded-pill text-bg-primary px-2 py-1">New  
                    </span> 
                  </span>
                  {{/if}} 
                  
                  {{#if isBonus}}
                  <span class="badge"> 
                    <span class="rounded-pill text-bg-info px-2 py-1">New  
                    </span> 
                  </span>
                  {{/if}}
        {{/each}}  
      </div>    
    {{/with}}   
    </div>   
    <br>
    <br>

    <div class="card col-5 ms-4"> 
      <div class="card">
      {{#with item}}      
      <table class="table">
        <thead>
          <tr>
          {{#each head}} 
            <th>       
              {{this}}      
            </th>
          {{/each}}
          </tr> 
        </thead>
        <tbody>
        {{#each body}}        
          <tr>
            {{#each .}}
            {{#if @first}}         
              <th>
                {{this}}     
              </th>
            {{/if}}      
            {{/each}} 
     
            {{#each .}}
            {{#unless @first}}
              <td>
                {{this}}     
              </td>
            {{/unless}}      
            {{/each}} 
          </tr>        
        {{/each}}   
        </tbody>    
      </table>      
       {{/with}}
      </div>
      <br>
      <br>
        
       {{#with param}}
        <div class="card">    
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  {{title}} 
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each list}}
                <tr>          
                  <td> {{this}} </td>       
                </tr>
              {{/each}}
            </tbody>      
          </table>
        </div>
      {{/with}}  

    <div class="card text-bg-danger p-1 my-1">
    {{#with alert}}
      {{#if isError}} {{text}} {{/if}} 
    {{/with}}     
    </div>
  </div>
</div>
<br>
  <div class="card">
    <div class="card-body">
    {{#each actionList}}    
    {{#if isWarning}} <button class="btn btn-warning mx-2 my-4"> {{name}} </button>{{/if}}
    {{#if isError}} <button class="btn btn-outline-primary mx-2"> {{name}} </button> {{/if}}
    {{#if isSuccess}} <button class="btn btn-success mx-2"> {{name}} </button> {{/if}}
    {{#if isGood}} <button class="btn btn-outline-success mx-2"> {{name}} </button> {{/if}}
     {{/each}}
    </div>
  </div> 
  {{/with}}
</div>
<hr>

  <div>
    {{#with goodsOtherBlock}}
    {{>shopcard}}
    {{/with}}
  </div>
  <br> <hr> <br>

  {{> shopaction}}
  
</main>