<main>
    
    <div>
      <h1>{{header}} </h1>
    </div>  
      
      <div class="row col-12">
        <div class="col-8">
        {{#with contacts_data}}
        <h2>{{title}} </h2>
        {{#each buttons}}
        {{#if isPrimary}}
         <button class="btn btn-warning my-4">{{text}}</button>
         {{else}}
          <button class="btn btn-outline-warning my-4">{{text}}</button>
         {{/if}}
        {{/each}}

           <div class="row ">

        {{#with form}}
          {{#with input}}
            {{#with surname}}
            <div class="col-5">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
             {{#with name}}
            <div class="col-5">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
            {{#with phone}}
            <div class="col-5">          
            <label class="form-label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
            {{#with email}}
            <div class="col-5">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
          {{/with}}
          
          <div>
            <hr>
          {{#each switch}}          
          <div class="form-switch my-4">
              <input type="checkbox" class="form-check-input">
            {{text}}          </div> 
          
          {{/each}}
          <hr>
          </div> 
        {{/with}}
        </div>        
        
        {{/with}}

      </div>

    <div class="col-3">

      <div class="card">
          {{#each action_block}}
            {{#if isSuccess}}           
              <button class="btn btn-success px-1 m-2"> {{text}} </button>
            {{/if}}
          {{#if isDanger}}
              <button class="btn btn-danger px-4 m-2"> {{text}} </button>
           {{/if}}
            {{#if isInfo}}
              <button class="btn btn-info px-3 m-2"> {{text}} </button>
            {{/if}}
          {{/each}}
      </div>

      <div class="card">

        {{#with total}}       
          
          <ul class="list-group">
            <li class="list-group-item"><h4>{{title}} </h4></li>
            <li class="list-group-item">
          {{#each item_list}} 
          {{name}}: {{price}} <br>
            {{/each}}
             </li>
          
            <li class="list-group-item">
          {{#each additional_info}} 
          {{text}}: {{value}} <br>
            {{/each}}
              </li>

               <li class="list-group-item">
          {{#with total_price}} 
          {{text}}: {{value}} <br>
            {{/with}}
              </li>

               <li class="list-group-item">
          {{#each button}} 
          {{#if isPrimary}}
         <button class="btn btn-primary m-1"> {{text}} </button>
          {{/if}}
          {{#if isOutline}}
         <button class="btn btn-outline-primary m-1"> {{text}} </button>
          {{/if}}
            {{/each}}
              </li>
          </ul>
            {{/with}}
        </div> 
    </div>

    <div class="col-8">
      {{#with delivery}}
        <h3>{{title}} </h3>
        <div class="row">
          {{#each select}}
            <div class="col-4 m-1">           
            <label class="form-label" >{{label}}</label>
            <select class="form-select" >
               <option> <p class="text-light"> {{placeholder}} </p></option>
              {{#each options}}             
              <option value="{{value}}">{{text}} </option>
              {{/each}}
            </select>
            </div>
          {{/each}}
         
            {{#each delivery_type}}
             <div class="form-check m-2"> 
              <label class="form-check-label">{{type}} </label>
              <input type="radio" class="form-check-input">
            </div>
           {{/each}}
           <br><hr>
           
          {{#with payment}}
          <h3>{{title}} </h3>
          {{#each list}}
            <div class="form-check m-2"> 
              <label class="form-check-label" >{{type}} </label>
              <input type="radio" class="form-check-input">
              <br> <span>{{description}} </span>
            </div>
          {{/each}}
          {{/with}}
          <br><hr>          

          {{#with contact}}
          <div class="row">

          <h3>{{title}} </h3>

          {{#with surname}}
            <div class="col-4 m-2">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control"  placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
             {{#with name}}
            <div class="col-4 m-2">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
            {{#with phone}}
            <div class="col-4 m-2">          
            <label class="form-label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}
            {{#with email}}
            <div class="col-4 m-2">          
            <label class="form-label">{{label}}</label>
            <input class="form-control"  placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
            {{/with}}  
            <br><hr>   
            </div>
          {{/with}}           

            {{#with coment}}
            <div class="col-4  my-2">          
            <label class="form-label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">            
            </div>
            {{/with}}

            <br> <hr> 
        </div>
      {{/with}}

      {{#with coupon}}
        <h3>{{title}} </h3>
        {{#with select}}

          {{#with availabel_coupon}}
            <div class="col-4 m-1">           
            <label class="form-label" >{{label}}</label>
            <select class="form-select" >
               <option> <p class="text-light"> {{placeholder}} </p></option>
              {{#each options}}             
              <option value="{{value}}">{{text}} </option>
              {{/each}}
            </select>
            </div>
          {{/with}}

           {{#with friend_coupon}}
            <div class="col-4 m-1">           
            <label class="form-label" >{{label}}</label>
            <select class="form-select" >
               <option> <p class="text-light"> {{placeholder}} </p></option>
              {{#each options}}             
              <option value="{{value}}">{{text}} </option>
              {{/each}}
            </select>
            </div>
          {{/with}}

        {{/with}}

        {{#with add}}
          
          {{#with friend}}
           <div class="col-5">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
          {{/with}}

           {{#with colleague}}
           <div class="col-5">          
            <label class="form-label" >{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form-text text-info">{{caption}}</div>
            </div>
          {{/with}}

        {{/with}}

      {{/with}}
      <br> <hr>


       {{#with quiz}}
       <h3>{{title}} </h3>
          {{#with preference}}
            <p>{{title}} </p>
             {{#each options}}
            <div class="form-check m-2"> 
              <label class="form-check-label" >{{this}} </label>
              <input type="radio" class="form-check-input">
              </div>
            {{/each}}
          {{/with}}

          {{#with your_expirience}}
          <div class="col-5"> 
           <label class="form-label" >{{label}} </label>
            <input class="form-control">
           </div>
          {{/with}}

          {{#with purchase_frequency}}
            <div class="col-4 m-1">           
            <label class="form-label" >{{label}}</label>
            <select class="form-select" >
               <option> <p class="text-light"> {{placeholder}} </p></option>
              {{#each options}}             
              <option value="{{value}}">{{text}} </option>
              {{/each}}
            </select>
            </div>
          {{/with}}

          {{#with factors}}
            <p>{{title}} </p>
             {{#each options}}
            <div class="form-check m-2"> 
              <label class="form-check-label" >{{this}} </label>
              <input type="checkbox" class="form-check-input">
              </div>
            {{/each}}
          {{/with}}

       {{/with}}

    </div>  
    
</main>