<main>
        {{>nav}}
                <h1 class="text-center">{{page_header.title}}</h1>
                <p class="text-center">{{page_header.description}}</p>
            
                {{#with section}}
                <div class="card">
                    <div class="card-body">
                    {{#with about_us}}
                        <p class="display-6 text-end">{{title_list.main}}</p>
                        <h2 class="text-end">{{title_list.sub}}</h2>
                        <button class="btn btn-primary">{{button.text}}</button>
                     {{/with}}                     
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {{#with advantage}}
                        <p class="display-5">{{title}}</p>
                        <div class="card">
                            <div class="card-body">
                            {{#with efficiency}}
                            <p class="display-4">{{title}}</p>
                            <h6>{{sub_title}}</h6>
                            <p>{{description}}</p>
                            <button class="btn btn-outline-warning">{{button}}</button>
                            {{/with}}
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-body">
                            {{#with innovation}}
                            <p class="display-4 text-center">{{title}}</p>
                            <h6 class="text-center">{{sub_title}}</h6>
                            <p class="text-center">{{description}}</p>
                            <button class="btn btn-outline-warning">{{button}}</button>
                            {{/with}}
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-body">
                            {{#with collaboration}}
                            <p class="display-4 text-end">{{title}}</p>
                            <h6 class="text-end">{{sub_title}}</h6>
                            <p class="text-end">{{description}}</p>
                            <button class="btn btn-outline-warning">{{button}}</button>
                            {{/with}}
                            </div>
                        </div>                        
                    {{/with}}                    
                   </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                     {{#with agreement}}
                     <p class="display-5">{{title}}</p>
                     <div class="card">
                        <div class="card-body">
                         {{#with info}}
                            <h5 class="display-5">{{sub_title}}</h5>
                             <div class="card">   
                                <div class="card-body">
                                 <p>{{detail.text}}</p>
                                <button class="btn btn-success">{{detail.button}}</button>
                                </div>
                              </div>
                        {{/with}}
                        </div>
                     </div>
                     {{/with}}
                    </div>
                  </div>                  
                {{/with}}                                                     
           </main>
  
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
