
 <div class="row col-8 mx-2 px-2">
 {{#each goodsList}}

 <div class="card col-6 g-2">
    <div class="card-body">
   
        <img src="{{img}}" alt="Photo" class="col-12">
      
        {{#if isHot}}
          <span class="badge my-2">
            <span class="rounded-pill text-bg-warning px-2 py-1"> HOT 
            </span>
          </span>
          {{/if}}

          {{#if isNew}}
          <span class="badge my-2"> 
            <span class="rounded-pill text-bg-primary px-2 py-1">New  
            </span> 
          </span>
         {{/if}}                   
                 
          {{#if isFast}}
          <br><span class="badge my-2"> 
            <span class="text-bg-success px-2 py-1">Швидка доставка 
            </span> 
          </span>
          {{/if}} 

           {{#if isFree}}
          <br><span class="badge my-2"> 
            <span class="text-bg-secondary px-2 py-1">Безкоштовна доставка 
            </span> 
          </span>
          {{/if}}   
                
       <h2>{{name}} </h2>

       {{#with review}}
        <p>{{amount}} {{text}}</p>
       {{/with}}

       <h3>{{price}} </h3>

       <p>{{delivery}} </p>

       {{#each buttons}}
        {{#if isPrimary}}
        <a href="{{link}}">            
            <button class="btn btn-primary my-2">{{text}} </button>
        </a>
         {{/if}}
         
         {{#if isSecondary}}
        <a href="{{link}}">            
            <button class="btn btn-secondary my-2">{{text}} </button>
        </a>
         {{/if}}
       {{/each}}

         {{#each characteristics}}
         <ul>
            <li> {{title}}: {{value}}</li>
         </ul>        
       {{/each}}
    
    </div>
</div>
{{/each}}
</div>
