  <div>
    <div>
    {{#with purchase}}
      {{#each tabs}}
        {{this}}
      {{/each}}
      </div>
      
        <div>
      {{#with actionBlock}}
        <input type="" placeholder="placeholder" lass="p">
        
        {{#each buttons}}

        <a href="{{link}}" target="_blank">

         {{#if isSuccess}}
         <button class="btn btn-success m-2">{{text}}</button>
        {{/if}}       
        
        {{#if isOutline}}
         <button class="btn btn-outline-success m-2">{{text}}</button>
        {{/if}}
        
        {{#if isDanger}}              
         <button class="btn btn-outline-danger m-2">{{text}}</button>
        {{/if}}

        </a> 
              
        {{/each}}
      {{/with}}
      </div>
      <br> <hr>
      <div class="row">
        
        {{#each itemList}}
        
          
        {{#with .}}
        
        <div class="col-4">
        <p>{{number}} </p>

        <p>{{status}} </p>
        </div>
        
         <p class="col-2">
          {{#with amount}}
          {{title}}: <br> {{value}}
          {{/with}} 
        </p>

          <div class="col-4 py-2">
          {{#each images}}
          <img src="{{this}}" alt="Picture">
          {{/each}}
          </div>

          <div class="col-2">
          {{#with button}}
            <a  href="{{link}}" target="_blank">
            {{#if isPrimary}}
              <button class="btn btn-primary m-2">{{text}}</button>
            {{/if}}
            </a>                        
          {{/with}}
          </div>
          <br> <hr>   
        {{/with}}        
        {{/each}}        
      </div>
    {{/with}}
  </div> 