  <div class="p-1">
    {{#each footer}}
        <div class="nav">
           {{#each .}}
            <div class="col-2 nav-item">
              {{#if link}}
                <a href="{{link}}" class="nav-link" target="_blank">
                    <button class="btn btn-link">{{text}}</button>
                </a>
                {{else}}
                <a href="{{link}}" class="nav-link disabled"> {{text}}                   
                </a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
